{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{{block.super}}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>jua jirani</title>
</head>

<body>

  <div class="container mt-5">
    <div class="row mt-5"></div>
    {% for prof in profile %} {% if prof.user.id == current_user.id%}
    <div class="row mt-5">
      <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></div>
      <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
        {% if prof.profille_pic %}
        <img src="{{prof.profille_pic.url}}" alt="" class="img-thumbnail" style="height:100%;"> {% endif %}
      </div>
      <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></div>
      <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
        <p>Name: <b>{{prof.name | title}}</b></p>
        <p><b>nickname:</b> <i>{{prof.user}}</i></p>
        <p>{{prof.neighbor}} <i><b><small>({{prof.neighbor.location}})</small></b></i></p>
        <p>Type of business: <a href="#">{{prof.business}}</a></p>
      </div>
    </div>
    <hr>
    <div class="row mt-5">
      <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></div>
      <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
        {% for post in posts %} {% if post.editor.id == prof.id%}
        <div class="card card-default" style="margin-bottom:50px">
          <div class="card-header">
            {% if post.editor.profille_pic %}
            <img src="{{post.editor.profille_pic.url}}" alt="" class="img-fluid rounded-circle" style="width:10%;height:10%">
            <a href="#">{{post.editor}}</a> {% endif %}
          </div>
          <div class="card-body">
            <p>{{post.post}}</p>
          </div>
          <div class="card-footer">
            <p><b>{{post.post_date | timesince}} ago</b></p>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
      <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></div>
    </div>
    {% endif %} {% endfor %}
  </div>
  {% endblock %}

</body>

</html>
